
.dag text {
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
    font-size: 14px;
}

.dag .node rect {
    stroke: #999;
    fill: #fff;
    stroke-width: 1.5px;
    }

.dag .edgePath path {
    stroke: #333;
    stroke-width: 1.5px;
}

.dag table {
    border-spacing: 0;
}

.dag table td {
    padding: 7px;
}
  
